.content-area{
    width: 650px;
    float: left;
    margin-left: 60px;
    margin-top: 40px;
}

.content-section-title{
    font-family: FireSans Book, sans-serif;
    font-size: 27px;    
    color: #3ba8c0;
}

.content-section-title p{
    margin: 0;
}

.content-section{
    background: #eff3f7;
}